# Node.js
node_modules
.env

# Python
.venv

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
auth-service/node_modules
currency-converter/node_modules
profile-service/node_modules
sharing-service/node_modules

# Environment variables
auth-service/.env
currency-converter/.env
profile-service/.env
sharing-service/.env

# Misc
.DS_Store

# IDE specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS specific
*.DS_Store

# Windows specific
Thumbs.db